<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    </system.web>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Server=44ca5c44-396f-4868-929a-a23d0120cd3c.sqlserver.sequelizer.com;Database=db44ca5c44396f4868929aa23d0120cd3c;User ID=shnrpepkfqcrsqya;Password=VwpYp3eYj7jk8bHQXoFV5nCUyJtryb2YBjHc4cUXnQEMbzzmexYBgkfG2ByNGUyh;" />
  </connectionStrings>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        
        <add value="Login.aspx"/>
       
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
